<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICompanies" />
        <binding name="BasicHttpBinding_ITransactions" />
        <binding name="BasicHttpBinding_IUsers" />
        <binding name="BasicHttpBinding_ICars" />
        <binding name="BasicHttpBinding_ICustomers" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59807/Operastions/Index.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICars" contract="RAC_Service.ICars" name="BasicHttpBinding_ICars" />
      <endpoint address="http://localhost:59807/Operastions/Index.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomers" contract="RAC_Service.ICustomers" name="BasicHttpBinding_ICustomers" />
      <endpoint address="http://localhost:59807/Operastions/Index.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompanies" contract="RAC_Service.ICompanies" name="BasicHttpBinding_ICompanies" />
      <endpoint address="http://localhost:59807/Operastions/Index.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactions" contract="RAC_Service.ITransactions" name="BasicHttpBinding_ITransactions" />
      <endpoint address="http://localhost:59807/Operastions/Index.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsers" contract="RAC_Service.IUsers" name="BasicHttpBinding_IUsers" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="RentACarContext" connectionString="data source=DESKTOP-GSA90J9;initial catalog=RentACar;integrated security=True;MultipleActiveResultSets=True; App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>