<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICars" />
                <binding name="BasicHttpBinding_ICustomers" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59807/Operastions/Cars.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICars"
                contract="CarService.ICars" name="BasicHttpBinding_ICars" />
            <endpoint address="http://localhost:59807/Operastions/Customers.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomers"
                contract="CustomerService.ICustomers" name="BasicHttpBinding_ICustomers" />
        </client>
    </system.serviceModel>
</configuration>